@media only screen and (max-width: 1100px) {
  #principal h1 { font-size: 200%;}
}
@media only screen and (max-width: 800px) {
  #principal h1 { font-size:150%;}
}
@media only screen and (max-width: 400px) {
  #principal h1 {
    font-size: 100%;
  }
}

img.logo {
  width: 80%;
  padding-bottom: 3em;
}

#principal div {
  text-align: center;
  padding-top: 3em;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

