@media only screen and (max-width: 1100px) {
  .content h1 { font-size: 200%;}
}
@media only screen and (max-width: 800px) {
  .content h1 { font-size:150%;}
}
@media only screen and (max-width: 400px) {
  .content h1 {
    font-size: 100%;
  }
}

.content {
  padding: 80px;
}

img.logo {
  width: 50%;
  padding-bottom: 3em;
}

#principal div {
  text-align: center;
  padding-top: 3em;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

#collectif div {
  display: block;
}
#TOC div {
  padding-top: 5em;
  display: block;
}
